@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Serif:ital,wght@0,400;1,400;1,500&display=swap');
:root {
    --primary-color:#40A2D8;
    --primary-color-dark:#0B60B0;
    --secondary-color:#F0EDCF;
    --text-dark: black;
    --text-light:#FF9843;
    --extra-light:#FFDD95;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Noto Serif', serif;
}
nav {
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 99;
    top: 0;
    left: 0;
}
.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 2s;
}
nav .logo a:hover{
    color: var(--primary-color-dark);
}
nav .checkbox {
    display: none;
}
nav input {
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
ul li a{
    padding: .5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color-dark);
    transition: 0.3s;

}
ul li a:hover {
    border-top-color: var(--primary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--text-light);
}
.section {
    background-color: var(--primary-color-dark);

}
.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: white;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.title{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 2rem;
}
.title span{
    font-weight: 600;
}
.description {
    line-height: 1.5rem;
    color: white;
    margin-bottom: 2rem;
}
.right-content {
    display: grid;
    place-items: center;
}
.right-content img{
    width: min(25rem, 90%);
    border-radius: 100%;
    border: 15px solid white;
}

.about {
    background: linear-gradient(225deg, #ffdda3 0%, #bae0f8 100%);
}
.Recent_Projects_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;

}
.image1 {
    grid-area: 1/1/2/2;
}
.content1 {
    grid-area: 1/2/2/3;
    margin-top: 0px;
    padding: 1.5rem;
    padding-top: 10px;
}
.image2 {
    grid-area: 2/1/3/2;
}
.content2 {
    grid-area: 2/2/3/3;
    margin-top: 12px;
    padding: 1.5rem;
    padding-top: 10px;
}
.image1,.image2 {
    display: grid;
    place-items: center;
    
}
.image1 video,.image2 img{
    width: min(25rem, 90%);
    border-radius: 20px;
    transition: 0.8s;
}
.image1 video:hover,.image2 img:hover{
    width: 35rem;
}
.about h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--primary-color-dark);
    font-weight: 550;
    margin:auto;
    padding-bottom: 2.5rem;
    padding-top: 25px;
    text-align: center;
}
.about h2 span, .content1 p span, .content2 p span{
    color: black;
    font-weight: 600;
    transition: 0.3s;
}
.about h2 span:hover, .content1 p span:hover, .content2 p span:hover{
    color: var(--text-light);
}
.Bottom_section{
    background-color: var(--primary-color-dark);
}
.Bottom_container {
    display: flex;
    flex-direction: column;
}
.Bottom_content h2{
font-size: 2rem;
font-weight: 600;
transition: 1s;
text-align: center;
padding: 1.5rem;
}
.Bottom_content h2:hover{
    font-size: 2.5rem;
    color: var(--primary-color-dark);
}
.Bottom_content > p{
    padding: 30px;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.footer a > h4, .footer > a{
    margin: auto;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
    transition: 0.8s;
}
.footer a > h4:hover, .footer > a:hover{
    color: var(--text-light);
}
.footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer a img{
    margin-right: 15px;
    margin-bottom: -5px;
}
.contactSection{
    background-color: var(--primary-color);
    height: 100vh;

}
.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
@media (width < 750px){
    .section__container{
        padding: 2rem;
        height: 100%;
    }
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked ~ ul{
        left: 0;
    }
    ul li a {
        font-size: 1.25;
    }
    .footer{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .footer a{
        margin-bottom: 30px;
    }
}
.resume-btn{
    color: var(--primary-color-dark);
    background-color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid var(--primary-color-dark);
}
.resume-btn :hover {
    border-top-color: var(--primary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--text-light);
}
.skills, .projects, .events {
    text-align: center;
    background-image: linear-gradient();
    padding-top: 50px;
    padding-bottom: 35px;
}
.skills-heading, .skills-info{
    padding-bottom: 20px;
}
.skills-card-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
    
}
.skills-card-container div{
padding: 10px;
border: 3px solid var(--primary-color-dark);
padding-left: 10px;
padding-right: 10px;
margin: 10px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 15px;

}
.project-card-container, .events-card-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   margin: 5%;
    align-items: center;
    flex-direction: row;
}
.project-card, .events-card{
    width: 300px;
    height: 400px;
    padding: 20px;
   margin: 10px;
  align-items: center;
  border: 10px solid white;
  background-color: white;
  border-radius: 25px;
  text-shadow: #40A2D8;
 
}
.projects{
    background: linear-gradient(225deg, #ffdda3 0%, #bae0f8 100%);
    
}
.card-content{
    text-align: center;
    background-color: white;
    
    margin-top: -5px;
}
.events-card img{
    height: 200px;
    width: 258px;
    
}
.project-card img{
    width: 258px;
  
}
.events{
    background-color: white;
}

.events-card{
    background:  linear-gradient(225deg, #ffdda3 0%, #bae0f8 100%);
}



/* Style for the overall events section */
.events {
    padding: 20px; /* Adds space around the content within the events section */
    background: #f0f0f0; /* Light grey background for the whole events section */
}

/* Header styling within the events section */
.events-heading {
    text-align: center; /* Center-aligns the heading text */
    margin-bottom: 30px; /* Adds space below the heading */
}

/* Container for cards to manage layout */
.events-card-container,.project-card-container {
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows cards to wrap to the next line */
    justify-content: center; /* Centers cards in the container */
    gap: 20px; /* Space between each card */
}

/* Styling specific to each event card */
.events-card, .project-card {
    background-color: white; /* Sets a white background for the cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Adds shadow to the cards */
    border: 5px solid transparent; /* Transparent border needed for gradient */
    background-image: linear-gradient(white, white), linear-gradient(to right, #ffdda3, #2575fc); /* Gradient border */
    background-origin: border-box; /* Ensures the gradient covers the border area */
    background-clip: content-box, border-box; /* Clips the white background and gradient correctly */
    border-radius: 10px; /* Rounds the corners of the card */
    width: 300px; /* Fixed width for each card */
    overflow: hidden; /* Prevents content from spilling out */
    display: flex; /* Flex layout for the contents */
    flex-direction: column; /* Stacks the content vertically */
    align-items: center; /* Centers the content horizontally */
    text-align: center; /* Centers text */
}

/* Image styling within each card */
.events-card img, .project-card img {
    width: 100%; /* Full width of the card */
    height: 200px; /* Maintain aspect ratio */
}

.project-btn{
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid var(--primary-color-dark);
    color: #0B60B0;
    background-color: white;
}
.project-info{
    padding-bottom: -10px;
}